body {
  font-family: "Source Code Pro", monospace;
}

header {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

header h1 {
  margin: 0;
}

.container {
  margin: 0 0.5rem 0 0.5rem;
}

table {
  h3 {
    margin-top: 0;
  }
}

.dashboard-table {
  margin-top: 0.5rem;
}

td {
  vertical-align: text-top;
}

.post-container {
  margin-bottom: 0.75rem;
}

.post-title {
  margin-bottom: 0;
}

.post-title:hover {
  cursor: pointer;
}

.post-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  font-weight: normal;
  font-size: 1rem;
}

.divider {
  font-size: 0.9rem;
  margin: 0 1px 2px 1px;
}

.date {
  font-size: 0.9rem;
}

.tr-post-content-visible {
  display: block;
}

.tr-post-content-invisible {
  display: none;
}
