body {
  font-family: "Source Code Pro", monospace;
}

header {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

header h1 {
  margin: 0;
}

td {
  vertical-align: text-top;
}

.number {
  font-weight: normal;
  font-size: 1rem;
}

.post-title:hover {
  cursor: pointer;
}

.tr-post-content-visible {
  display: block;
}

.tr-post-content-invisible {
  display: none;
}
